---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

/*body.home .masthead {
  display: none;
} */


.logo-container {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  background-color: #ce1126ff;
}

.logo-container img {
  width: 100%;    
  max-width: 100%;
  height: auto;
  max-width: 1200px; /* Optional, to prevent it from growing too large */
}


/* Add this to your custom CSS file */
.two-column-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.two-column-layout > .column {
  flex: 1;
  min-width: 300px;
}


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

